<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.semmtech.plugin.semmweb.dictionary.perspectives.DictionaryPerspectiveFactory"
            icon="icons/book.png"
            id="com.semmtech.plugin.semmweb.dictionary.perspectives.dictionary"
            name="Dictionary">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.semmtech.plugin.semmweb.dictionary.category"
            name="Dictionary">
      </category>
      <view
            category="com.semmtech.plugin.semmweb.dictionary.category"
            class="com.semmtech.plugin.semmweb.dictionary.views.SKOSConceptView"
            icon="icons/conceptScheme.png"
            id="com.semmtech.plugin.semmweb.dictionary.views.concepts"
            name="Concepts"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.semmtech.plugin.semmweb.dictionary.perspectives.dictionary">
         <view
               id="com.semmtech.plugin.semmweb.dictionary.views.concepts"
               minimized="false"
               ratio=".25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.semmtech.plugin.semmweb.core.views.projectNavigator"
               minimized="false"
               ratio=".5"
               relationship="bottom"
               relative="com.semmtech.plugin.semmweb.dictionary.views.concepts">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.semmtech.plugin.semmweb.core.preferences.semmweb"
            class="com.semmtech.plugin.semmweb.dictionary.preferences.DictionaryPreferencePage"
            id="com.semmtech.plugin.semmweb.dictionary.preferences.dictionary"
            name="Dictionary">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.semmtech.plugin.semmweb.dictionary.handlers.SKOSPresentationHandler"
            id="com.semmtech.plugin.semmweb.dictionary.commands.skosPresentation"
            name="SKOS Presentation">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="hierarchical">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.dictionary.handlers.SKOSTopLevelElementsHandler"
            id="com.semmtech.plugin.semmweb.dictionary.commands.skosTopLevelElements"
            name="SKOS Top Level Elements">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="conceptSchemes">
               </parameter>
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.dictionary.handlers.SKOSShowNarrowerConceptHandler"
            id="com.semmtech.plugin.semmweb.dictionary.commands.skosShowNarrowerConcepts"
            name="SKOS Show Narrower Concepts">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.dictionary.handlers.SKOSShowBroaderConceptHandler"
            id="com.semmtech.plugin.semmweb.dictionary.commands.skosShowBroaderConcepts"
            name="SKOS Show Broarder Concepts">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.dictionary.handlers.CreateSKOSConceptHandler"
            id="com.semmtech.plugin.semmweb.dictionary.commands.createSKOSConcept"
            name="Create SKOS Concept">
         <commandParameter
               id="inScheme"
               name="Create within selected Concept Scheme"
               optional="true">
         </commandParameter>
         <commandParameter
               id="isTopConcept"
               name="Concept will be Top Concept"
               optional="true">
         </commandParameter>
         <commandParameter
               id="inCollection"
               name="Create as member of selected Collection"
               optional="true">
         </commandParameter>
         <commandParameter
               id="isNarrower"
               name="Create a narrower concept of selected concept"
               optional="true">
         </commandParameter>
         <commandParameter
               id="isBroader"
               name="Create a broader concept of selected concept"
               optional="true">
         </commandParameter>
         <commandParameter
               id="isRelated"
               name="Create a narrower concept of selected concept"
               optional="true">
         </commandParameter>
         <commandParameter
               id="labelPropertyURI"
               name="Label Property URI"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.dictionary.handlers.SKOSShowNotationsHandler"
            id="com.semmtech.plugin.semmweb.dictionary.commands.skosShowNotations"
            name="SKOS Show Notations">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.dictionary.handlers.CreateLexicalLabelHandler"
            id="com.semmtech.plugin.semmweb.dictionary.commands.createLexicalLabel"
            name="Create Lexical Label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.semmtech.plugin.semmweb.dictionary.views.concepts">
         <menu
               label="New">
            <command
                  commandId="com.semmtech.plugin.semmweb.core.commands.createResource"
                  icon="icons/conceptScheme_add.png"
                  label="Concept Scheme"
                  style="push">
               <parameter
                     name="resourceTypeURI"
                     value="http://www.w3.org/2004/02/skos/core#ConceptScheme">
               </parameter>
               <parameter
                     name="anonymousAllowed"
                     value="false">
               </parameter>
               <parameter
                     name="labelPropertyURI"
                     value="http://purl.org/dc/terms/title">
               </parameter>
            </command>
            <separator
                  name="com.semmtech.plugin.semmweb.dictionary.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.createLexicalLabel"
                  icon="icons/textfield_rename.png"
                  label="Label"
                  style="push">
            </command>
            <separator
                  name="com.semmtech.plugin.semmweb.dictionary.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.createSKOSConcept"
                  icon="icons/topConcept_add.png"
                  label="Top Concept"
                  style="push">
               <parameter
                     name="isTopConcept"
                     value="true">
               </parameter>
               <parameter
                     name="inScheme"
                     value="true">
               </parameter>
               <parameter
                     name="labelPropertyURI"
                     value="http://www.w3.org/2004/02/skos/core#prefLabel">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="com.semmtech.semantics.skos.ConceptScheme">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.createSKOSConcept"
                  icon="icons/concept_add.png"
                  label="Concept"
                  style="push">
               <parameter
                     name="labelPropertyURI"
                     value="http://www.w3.org/2004/02/skos/core#prefLabel">
               </parameter>
            </command>
            <separator
                  name="com.semmtech.plugin.semmweb.dictionary.separator1">
            </separator>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.createSKOSConcept"
                  icon="icons/narrower_concept_add.png"
                  label="Narrower Concept"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="com.semmtech.semantics.skos.Concept">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
               <parameter
                     name="isNarrower"
                     value="true">
               </parameter>
               <parameter
                     name="labelPropertyURI"
                     value="http://www.w3.org/2004/02/skos/core#prefLabel">
               </parameter>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.createSKOSConcept"
                  icon="icons/broader_concept_add.png"
                  label="Broader Concept"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="com.semmtech.semantics.skos.Concept">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
               <parameter
                     name="isBroader"
                     value="true">
               </parameter>
               <parameter
                     name="labelPropertyURI"
                     value="http://www.w3.org/2004/02/skos/core#prefLabel">
               </parameter>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.createSKOSConcept"
                  icon="icons/related_add.png"
                  label="Related Concept"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="com.semmtech.semantics.skos.Concept">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
               <parameter
                     name="isRelated"
                     value="true">
               </parameter>
               <parameter
                     name="labelPropertyURI"
                     value="http://www.w3.org/2004/02/skos/core#prefLabel">
               </parameter>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.createSKOSConcept"
                  icon="icons/member_add.png"
                  label="Member Concept"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="com.semmtech.semantics.skos.Collection">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
               <parameter
                     name="inCollection"
                     value="true">
               </parameter>
               <parameter
                     name="labelPropertyURI"
                     value="http://www.w3.org/2004/02/skos/core#prefLabel">
               </parameter>
            </command>
            <separator
                  name="com.semmtech.plugin.semmweb.dictionary.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="com.semmtech.plugin.semmweb.core.commands.createResource"
                  icon="icons/collection_add.png"
                  label="Collection"
                  style="push">
               <parameter
                     name="resourceTypeURI"
                     value="http://www.w3.org/2004/02/skos/core#Collection">
               </parameter>
               <parameter
                     name="anonymousAllowed"
                     value="false">
               </parameter>
               <parameter
                     name="labelPropertyURI"
                     value="http://www.w3.org/2004/02/skos/core#prefLabel">
               </parameter>
            </command>
            <separator
                  name="com.semmtech.plugin.semmweb.dictionary.separator4"
                  visible="true">
            </separator>
         </menu>
         <separator
               name="com.semmtech.plugin.semmweb.dictionary.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.semmtech.plugin.semmweb.core.commands.editSelectedResource"
               label="Edit"
               style="push">
         </command>
         <separator
               name="com.semmtech.plugin.semmweb.dictionary.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.semmtech.plugin.semmweb.core.commands.deleteSelectedResource"
               icon="icons/delete.gif"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.semmtech.plugin.semmweb.dictionary.views.concepts">
         <menu
               label="Top Level Elements">
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.skosTopLevelElements"
                  icon="icons/conceptScheme.png"
                  label="Concept Schemes"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="conceptSchemes">
               </parameter>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.skosTopLevelElements"
                  icon="icons/concept.png"
                  label="Concepts"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="concepts">
               </parameter>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.skosTopLevelElements"
                  icon="icons/collection.gif"
                  label="Collections"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="collections">
               </parameter>
            </command>
         </menu>
         <menu
               label="Presentation">
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.skosPresentation"
                  icon="icons/hierarchical.gif"
                  label="Hierarchical"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="hierarchical">
               </parameter>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.dictionary.commands.skosPresentation"
                  icon="icons/flat.gif"
                  label="Alphabetical"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="alphabetical">
               </parameter>
            </command>
         </menu>
         <separator
               name="com.semmtech.plugin.semmweb.dictionary.separator5"
               visible="true">
         </separator>
         <command
               commandId="com.semmtech.plugin.semmweb.dictionary.commands.skosShowNotations"
               label="Show Notations"
               style="toggle">
         </command>
         <separator
               name="com.semmtech.plugin.semmweb.dictionary.separator4"
               visible="true">
         </separator>
         <command
               commandId="com.semmtech.plugin.semmweb.dictionary.commands.skosShowNarrowerConcepts"
               icon="icons/narrower.gif"
               label="Show Narrower Concepts"
               style="toggle">
         </command>
         <command
               commandId="com.semmtech.plugin.semmweb.dictionary.commands.skosShowBroaderConcepts"
               icon="icons/broader.gif"
               label="Show Broader Concepts"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.semmtech.plugin.semmweb.dictionary.preferences.DictionaryPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
