<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.semmtech.plugin.semmweb.core.category.semantics"
            class="com.semmtech.plugin.semmweb.sparql.views.SparqlView"
            icon="icons/sparql.png"
            id="com.semmtech.plugin.semmweb.sparql.views.sparql"
            name="Query"
            restorable="true">
      </view>
      <view
            category="com.semmtech.plugin.semmweb.core.category.semantics"
            class="com.semmtech.plugin.semmweb.sparql.views.ResultSetView"
            icon="icons/sparql.png"
            id="com.semmtech.plugin.semmweb.sparql.views.resultSet"
            name="Results"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.semmtech.plugin.semmweb.sparql.views.sparql">
         <menu
               label="Layout">
            <command
                  commandId="com.semmtech.plugin.semmweb.sparql.commands.sparqlViewLayout"
                  icon="icons/commands/vertical_view.gif"
                  label="Vertical"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="vertical">
               </parameter>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.sparql.commands.sparqlViewLayout"
                  icon="icons/commands/horizontal_view.gif"
                  label="Horizontal"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.commands.radioStateParameter"
                     value="horizontal">
               </parameter>
            </command>
         </menu>
         <menu
               label="Target">
            <command
                  commandId="com.semmtech.plugin.semmweb.sparql.commands.updateSparqlTarget"
                  label="Local"
                  style="push">
            </command>
            <separator
                  name="com.semmtech.plugin.semmweb.sparql.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.semmtech.plugin.semmweb.sparql.commands.updateSparqlTarget"
                  label="DBpedia"
                  style="push">
               <parameter
                     name="targetUri"
                     value="http://dbpedia.org/sparql">
               </parameter>
            </command>
            <command
                  commandId="com.semmtech.plugin.semmweb.sparql.commands.updateSparqlTarget"
                  label="OpenTox"
                  style="push">
               <parameter
                     name="targetUri"
                     value="http://ambit.uni-plovdiv.bg:8080/ontology">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.semmtech.plugin.semmweb.sparql.views.sparql">
         <command
               commandId="com.semmtech.plugin.semmweb.sparql.commands.executeSparqlQuery"
               label="Execute"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.semmtech.plugin.semmweb.sparql.views.SparqlView$SparqlViewLayoutHandler"
            id="com.semmtech.plugin.semmweb.sparql.commands.sparqlViewLayout"
            name="SPARQL View Layout">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="true">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="vertical">
               </parameter>
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.sparql.views.SparqlView$ExecuteSparqlQueryHandler"
            id="com.semmtech.plugin.semmweb.sparql.commands.executeSparqlQuery"
            name="Execute SPARQL Query">
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.sparql.views.SparqlView$UpdateSparqlTargetHandler"
            id="com.semmtech.plugin.semmweb.sparql.commands.updateSparqlTarget"
            name="Update SPARQL Target">
         <commandParameter
               id="targetUri"
               name="Target URI"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.semmtech.plugin.semmweb.sparql.commands.executeSparqlQuery"
            icon="icons/commands/execute_sparql.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.semmtech.plugin.semmweb.sparql.forms.editor.SparqlQueryFormEditor"
            default="false"
            extensions="sparql"
            icon="icons/sparql_file-new.png"
            id="com.semmtech.plugin.semmweb.sparql.editors.sparqlQueryEditor"
            name="SPARQL Query Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.semmtech.plugin.semmweb.sparql.debug.ui.SparqlQueryLaunchConfigurationDelegate"
            id="com.semmtech.plugin.semmweb.sparql.sparqlLaunchConfiguration"
            modes="run"
            name="SPARQL Query">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.semmtech.plugin.semmweb.sparql.sparqlLaunchConfiguration"
            icon="icons/sparql.png"
            id="com.semmtech.plugin.semmweb.sparql.sparqlLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.semmtech.plugin.semmweb.sparql.debug.ui.SparqlLaunchTabGroup"
            id="com.semmtech.plugin.semmweb.sparql.sparqlLaunchConfigurationTabGroup"
            type="com.semmtech.plugin.semmweb.sparql.sparqlLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.semmtech.plugin.semmweb.sparql.debug.ui.SparqlLaunchShortcut"
            icon="icons/sparql.png"
            id="com.semmtech.plugin.semmweb.sparql.sparqlLaunchShortcut"
            label="SPARQL Query"
            modes="run">
         <contextualLaunch>
            <contextLabel
                  label="SPARQL Query"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="sparql">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="com.semmtech.plugin.semmweb.sparql.sparqlLaunchConfiguration">
         </configurationType>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.semmtech.plugin.semmweb.editor.perspectives.editor">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.semmtech.plugin.semmweb.core.views.projectNavigator">
         <includes>
            <actionExtension
                  pattern="com.semmtech.plugin.semmweb.sparql.actions.sparqlActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.semmtech.plugin.semmweb.sparql.actions.SparqlActionProvider"
            id="com.semmtech.plugin.semmweb.sparql.actions.sparqlActions">
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.semmtech.plugin.semmweb.core.category"
            class="com.semmtech.plugin.semmweb.sparql.wizards.NewSparqlQueryFileWizard"
            icon="icons/sparql_file-new_add.png"
            id="com.semmtech.plugin.semmweb.sparql.wizards.newQueryFile"
            name="SPARQL Query File"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.semmtech.plugin.semmweb.sparql.wizards.newQueryFile">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.semmtech.plugin.semmweb.core.startPageNewActions">
      <client
            class="com.semmtech.plugin.semmweb.sparql.actions.NewSPARQLQueryAction"
            name="Create new SPARQL Query">
      </client>
   </extension>       
</plugin>
