<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="com.semmtech.plugin.semmweb.core.search.ui.OntologySearchPage"
            enabled="true"
            icon="icons/search_semantic.png"
            id="com.semmtech.plugin.semmweb.core.search.ontologySearchPage"
            label="Ontology Search"
            showScopeSection="true"
            tabPosition="0">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.semmtech.plugin.semmweb.core.search.ui.OntologySearchResultPage"
            id="com.semmtech.plugin.semmweb.core.search.ontologySearchResultPage"
            label="Ontology Search Result"
            searchResultClass="com.semmtech.plugin.semmweb.core.search.OntologySearchResult">
      </viewPage>
   </extension>

</plugin>
