<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.semmtech.plugin.semmweb.laces.ldp.category"
            name="Laces">
      </category>
      <view
            category="com.semmtech.plugin.semmweb.laces.ldp.category"
            class="com.semmtech.plugin.semmweb.laces.ldp.views.ServerView"
            icon="icons/repo_rep.gif"
            id="com.semmtech.plugin.semmweb.laces.ldp.views.servers"
            name="Laces LDP"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.semmtech.plugin.semmweb.laces.ldp.preferences.LDPPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.semmtech.plugin.semmweb.laces.ldp.model.LDPServer"
            class="com.semmtech.plugin.semmweb.laces.ldp.LDPAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.semmtech.plugin.semmweb.laces.ldp.model.LDPGroup"
            class="com.semmtech.plugin.semmweb.laces.ldp.LDPAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.semmtech.plugin.semmweb.laces.ldp.model.LDPRepository"
            class="com.semmtech.plugin.semmweb.laces.ldp.LDPAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.semmtech.plugin.semmweb.laces.ldp.model.LDPPublication"
            class="com.semmtech.plugin.semmweb.laces.ldp.LDPAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.semmtech.plugin.semmweb.laces.ldp.views.ServerView$RefreshSelectionHandler"
            id="com.semmtech.plugin.semmweb.laces.ldp.commands.refreshSelection"
            name="Refresh selection">
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.laces.ldp.views.ServerView$ImportPublication"
            id="com.semmtech.plugin.semmweb.laces.ldp.commands.importPublication"
            name="Import publication">
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.laces.ldp.views.ServerView$ViewOnline"
            id="com.semmtech.plugin.semmweb.laces.ldp.commands.viewOnline"
            name="View online">
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.laces.ldp.views.ServerView$CopyURI"
            id="com.semmtech.plugin.semmweb.laces.ldp.commands.copyURI"
            name="Copy URI">
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.laces.ldp.views.ServerView$EnterCredentials"
            id="com.semmtech.plugin.semmweb.laces.ldp.commands.enterCredentials"
            name="Enter credentials">
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.laces.ldp.handlers.PublishOntologyHandler"
            id="com.semmtech.plugin.semmweb.laces.ldp.commands.publishOntology"
            name="Publish ontology">
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.laces.ldp.handlers.PublishOntologyHandler"
            id="com.semmtech.plugin.semmweb.laces.ldp.commands.republishOntology"
            name="Republish ontology">
      </command>
      <command
            defaultHandler="com.semmtech.plugin.semmweb.laces.ldp.handlers.UpdateOntologyHandler"
            id="com.semmtech.plugin.semmweb.laces.ldp.commands.updateOntology"
            name="Update ontology">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.semmtech.plugin.semmweb.laces.ldp.views.servers">
         <command
               commandId="com.semmtech.plugin.semmweb.laces.ldp.commands.importPublication"
               icon="icons/ontology_file_add.png"
               label="Import"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="com.semmtech.plugin.semmweb.laces.ldp.model.LDPPublication">
                        <instanceof
                              value="com.semmtech.plugin.semmweb.laces.ldp.model.LDPPublication">
                        </instanceof>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.semmtech.plugin.semmweb.laces.ldp.commands.copyURI"
               icon="icons/copy.png"
               label="Copy URI"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="com.semmtech.plugin.semmweb.laces.ldp.model.LDPPublication">
                        <instanceof
                              value="com.semmtech.plugin.semmweb.laces.ldp.model.LDPPublication">
                        </instanceof>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.semmtech.plugin.semmweb.laces.ldp.commands.viewOnline"
               icon="icons/web.png"
               label="View online"
               style="push">
            <visibleWhen
                  checkEnabled="true">
                  <count
                        value="1">
                  </count>
            </visibleWhen>
         </command>
         <command
               commandId="com.semmtech.plugin.semmweb.laces.ldp.commands.refreshSelection"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="com.semmtech.plugin.semmweb.laces.ldp.model.LDPPublication">
                        <instanceof
                              value="com.semmtech.plugin.semmweb.laces.ldp.model.LDPPublication">
                        </instanceof>
                     </adapt>
                  </iterate>
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.semmtech.plugin.semmweb.laces.ldp.commands.enterCredentials"
               icon="icons/locked.png"
               label="Enter credentials"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="com.semmtech.plugin.semmweb.laces.ldp.model.LDPServer">
                        <instanceof
                              value="com.semmtech.plugin.semmweb.laces.ldp.model.LDPServer">
                        </instanceof>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.semmtech.plugin.semmweb.laces.ldp.expressions.oneRepositorySelected">
         <with
               variable="selection">
            <and>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.semmtech.plugin.semmweb.laces.ldp.model.LDPRepository">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </and>
         </with>
      </definition>
      <definition
            id="com.semmtech.plugin.semmweb.laces.ldp.expressions.oneGroupSelected">
         <with
               variable="selection">
            <and>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.semmtech.plugin.semmweb.laces.ldp.model.LDPGroup">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.semmtech.plugin.semmweb.laces.ldp.preferences.LDPPreferencePage"
            id="com.semmtech.plugin.semmweb.laces.ldp.preferences.ldp"
            name="Laces LDP">
      </page>
   </extension>
   <extension
         point="com.semmtech.plugin.semmweb.core.publishers">
      <publishProvider
            class="com.semmtech.plugin.semmweb.laces.ldp.extension.PublisherProvider">
      </publishProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.semmtech.plugin.semmweb.core.views.projectNavigator">
         <includes>
            <actionExtension
                  pattern="com.semmtech.plugin.semmweb.laces.ldp.actions.publicationActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.semmtech.plugin.semmweb.laces.ldp.actions.PublicationActionProvider"
            id="com.semmtech.plugin.semmweb.laces.ldp.actions.publicationActions">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <adapt
                     type="com.semmtech.plugin.semmweb.core.navigator.ISemanticElement">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.semmtech.plugin.semmweb.laces.ldp.commands.importPublication"
            icon="icons/repository_checkout.png">
      </image>
      <image
            commandId="com.semmtech.plugin.semmweb.laces.ldp.commands.publishOntology"
            icon="icons/repository_post.png">
      </image>
      <image
            commandId="com.semmtech.plugin.semmweb.laces.ldp.commands.updateOntology"
            icon="icons/repository_update.png">
      </image>
   </extension>

</plugin>
